<include file="Public/header"/>

<include file="Public/sidebar"/>

<script type="text/javascript">
    $(document).ready(function () {
        if ('<{$v.get.phone}>' != '') {
            $("#phone").val('<{$v.get.phone}>');
        } else if ('<{$v.get.phone}>' != '') {
            $("#wechat").val('<{$v.get.wechat}>');
        } else if ('<{$v.get.wechat}>' != '') {
            $("#email").val('<{$v.get.email}>');
        } else if ('<{$v.get.email}>' != '') {
            $("#nickname").val('<{$v.get.nickname}>');
        }
    });
</script>

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <include file="Public/searchStart"/>

        <input type="text" class="form-control input-small" placeholder="<{$Think.lang.user_phone}>" id="phone" name="phone">
        or
        <input type="text" class="form-control input-small" placeholder="<{$Think.lang.user_wechat}>" id="wechat" name="wechat">
        or
        <input type="text" class="form-control input-small" placeholder="<{$Think.lang.user_nickname}>" id="nickname" name="nickname">
        or
        <input type="text" class="form-control input-small" placeholder="<{$Think.lang.user_email}>" id="email" name="email">

        <include file="Public/buttonSearch"/>

        <include file="Public/searchEnd"/>

        <include file="Public/tableStartEmpty"/>
        <a href="__URL__/add&ret=<{$vSelfUrl}>" style="color:whitesmoke;"><{$Think.lang.user_add}></a>
        <include file="Public/tableMiddle"/>

        <table class="table table-striped table-bordered table-hover table-full-width">
            <thead>
            <tr>
                <th><{$Think.lang.uid}></th>
                <th><{$Think.lang.user_phone}></th>
                <th><{$Think.lang.user_wechat}></th>
                <th><{$Think.lang.user_nickname}></th>
                <th><{$Think.lang.user_name}></th>
                <th><{$Think.lang.user_gender}></th>
                <th><{$Think.lang.user_last_purchase_time}></th>
                <th colspan="4"><{$Think.lang.operation}></th>
            </tr>
            </thead>
            <tbody>
            <empty name="vList">
                <tr>
                    <td align="center" colspan="100%"><{$Think.lang.no_data}></td>
                </tr>
                <else/>
                <foreach name="vList" item="value" key="key">
                    <tr>
                        <td><{$value.uid}></td>
                        <td><{$value.phone}></td>
                        <td><{$value.wechat}></td>
                        <td><{$value.nickname}></td>
                        <td><{$value.lastname}> <{$value.firstname}></td>
                        <td><{$value.gender}></td>
                        <td><{$value.last_purchase_time}></td>
                        <td>
                            <a href="javascript:;" id="click_detail_<{$value.uid}>"><{$Think.lang.detail}></a>
                        </td>
                        <td>
                            <a href="__URL__/edit&uid=<{$value.uid}>&ret=<{$vSelfUrl}>"><{$Think.lang.edit}></a>
                        </td>
                        <td>
                            <a href="__URL__/order&uid=<{$value.uid}>&ret=<{$vSelfUrl}>"><{$Think.lang.user_order}></a>
                        </td>
                        <td>
                            <a href="__MODULE__/Order&uid=<{$value.uid}>"><{$Think.lang.order_module}></a>
                        </td>
                    </tr>
                    <tr id="detail_<{$value.uid}>" style="display:none;">
                        <td class="details" colspan="100%">
                            <table class="table table-bordered table-hover table-full-width">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_ctime}></td>
                                    <td><{$value.ctime}></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_email}></td>
                                    <td><{$value.email}></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_total_purchase}></td>
                                    <td><{$value.total_purchase}></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_total_profit}></td>
                                    <td><{$value.total_profit}></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_total_order_count}></td>
                                    <td><{$value.total_order_count}></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2"><{$Think.lang.user_profile}></td>
                                    <td><{$value.profile}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <input type="hidden" id="switch_detail_<{$value.uid}>" value="0"/>
                    <input type="hidden" id="switch_create_<{$value.uid}>" value="0"/>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            //详情
                            $("#click_detail_<{$value.uid}>").click(function () {
                                if ($("#switch_detail_<{$value.uid}>").val() == '0') {
                                    $("#click_detail_<{$value.uid}>").html('<{$Think.lang.close}>');
                                    $("#switch_detail_<{$value.uid}>").val('1');
                                    $("#detail_<{$value.uid}>").show('fast');
                                } else {
                                    $("#click_detail_<{$value.uid}>").html('<{$Think.lang.detail}>');
                                    $("#switch_detail_<{$value.uid}>").val('0');
                                    $("#detail_<{$value.uid}>").hide('fast');
                                }
                            });
                        });
                    </script>
                </foreach>
            </empty>
            </tbody>
        </table>

        <{$vPageBar}>
        <include file="Public/tableEndEmpty"/>

    </div>

</div>

<include file="Public/footer"/>