<include file="Public/header"/>

<include file="Public/sidebar"/>

<script type="text/javascript">

    /*$("#<{$kFormList}>").blur(function(){
     if($("#<{$kFormList}>").val() == ''){
     $("#<{$kFormList}>").val('<{$iFormList.value}>');
     }
     });*/
    $(document).ready(function() {

        <foreach name="v.form_list" item="iFormList" key="kFormList">

            <notempty name="iFormList.w">

                $("#<{$kFormList}>").addClass('input-<{$iFormList.w}>');

            </notempty>

            <notempty name="iFormList.h">

                $("#<{$kFormList}>").addClass('input-<{$iFormList.h}>');

            </notempty>

            <switch name="iFormList.type">

                <case value="radio">

                    <present name="v.row.$kFormList">

                        $("#<{$kFormList}>_<{$v.row.$kFormList}>").attr('checked', true);

                    </present>

                    <notempty name="iFormList.value">

                        $("#<{$kFormList}>_<{$iFormList.value}>").attr('checked', true);

                    </notempty>

                </case>

                <default />

                    <eq name="iFormList.disabled" value="1">

                        $("#<{$kFormList}>").attr('disabled', true);

                    </eq>

                    <present name="v.row.$kFormList">

                        $("#<{$kFormList}>").val('<{$v.row.$kFormList}>');

                    </present>

                    <notempty name="iFormList.value">

                        $("#<{$kFormList}>").val('<{$iFormList.value}>');

                    </notempty>

            </switch>

        </foreach>


        $("#<{$v.form}>").submit(function() {

            <foreach name="v.form_list" item="iFormList" key="kFormList">

                <notempty name="iFormList.check">

                    <foreach name="iFormList.check" item="iFormListCheck" key="kFormListCheck">

                        <switch name="kFormListCheck">

                            <case value="require">

                                if ($("#<{$kFormList}>").val() == '') {
                                    alert('<{$Think.lang.$iFormListCheck[alert]}>');
                                    return false;
                                }

                            </case>

                            <case value="length">

                                if ($("#<{$kFormList}>").val().length != 0 && $("#<{$kFormList}>").val().length <{$iFormListCheck.compare}>) {
                                    alert('<{$Think.lang.$iFormListCheck[alert]}>');
                                    return false;
                                }

                            </case>

                            <case value="value">

                                if ($("#<{$kFormList}>").val() <{$iFormListCheck.compare}>) {
                                    alert('<{$Think.lang.$iFormListCheck[alert]}>');
                                    return false;
                                }

                            </case>

                            <case value="regular">

                                var reg = <{$iFormListCheck.compare}>;
                                if (!reg.test($("#<{$kFormList}>").val())) {
                                    alert('<{$Think.lang.$iFormListCheck[alert]}>');
                                    return false;
                                }

                            </case>

                        </switch>

                    </foreach>

                </notempty>

            </foreach>

            return true;

        });

    });
</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-<{$v.fa}>"></i><{$Think.lang.$v[title]}></div>
                </div>

                <div class="portlet-body form">

                    <!-- BEGIN FORM-->
                    <form action="" method="<{$v.method}>" id="<{$v.form}>" class="form-horizontal">

                        <input type="hidden" id="<{$v.hKey}>" name="<{$v.hKey}>" value="<{$v.hVal}>">
                        <input type="hidden" id="ret" name="ret" value="<{$v.ret}>">

                        <div class="form-body">

                            <foreach name="v.form_list" item="iFormList" key="kFormList">

                                <div class="form-group" id="div_<{$kFormList}>">

                                    <label class="col-md-3 control-label"><{$Think.lang.$iFormList[left]}></label>

                                    <switch name="iFormList.type">

                                        <case value="radio">

                                            <div class="col-md-9 radio-list">

                                        </case>

                                        <default />

                                            <div class="col-md-9">

                                    </switch>

                                        <switch name="iFormList.type">

                                            <case value="text">
                                                <input type="text" class="form-control inline" id="<{$kFormList}>" name="<{$kFormList}>" />
                                            </case>

                                            <case value="password">

                                                <input type="password" class="form-control" id="<{$kFormList}>" name="<{$kFormList}>" />

                                            </case>

                                            <case value="textarea">

                                                <textarea class="form-control" rows="<{$iFormList.rows}>" cols="<{$iFormList.cols}>" id="<{$kFormList}>" name="<{$kFormList}>"></textarea>

                                            </case>

                                            <case value="radio">

                                                <foreach name="iFormList.list" item="iFormListList" key="kFormListList">

                                                    <label class="radio-inline">
                                                        <input type="radio" id="<{$kFormList}>_<{$kFormListList}>" name="<{$kFormList}>" value="<{$kFormListList}>" <{$iFormListList.disabled}> /><{$Think.lang.$iFormListList[name]}>
                                                    </label>

                                                </foreach>

                                            </case>

                                            <case value="category">

                                                <select class="form-control" id="<{$kFormList}>" name="<{$kFormList}>">

                                                    <option value="0"><{$iCategory.category_no_father}></option>

                                                    <foreach name="v.category" item="iCategory" key="kCategory">

                                                        <option value="<{$iCategory.id}>"><{$iCategory.name}></option>

                                                    </foreach>

                                                </select>

                                            </case>

                                        </switch>

                                        <present name="iFormList.check.require">

                                            <span style="color: red; padding-left: 5px;">*</span>

                                        </present>

                                        <span class="help-block"><{$Think.lang.$iFormList[tip]}></span>

                                    </div>

                                </div>

                            </foreach>

                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="fa fa-<{$v.fa}>"></i>&nbsp;<{$Think.lang.$v[action]}></button>
                            <button type="button" class="btn" onclick="javascript:window.location.href='<{$v.ret}>'";"><i class="fa fa-undo"></i>&nbsp;<{$Think.lang.return}></button>
                        </div>

                    </form>
                    <!-- END FORM-->

                </div>

            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
        <!-- END PAGE CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer"/>