<include file="Public/header"/>

<include file="Public/sidebar"/>

<script type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        <foreach name="v.form_list" item="value" key="key">

            <neq name="value.size" value="">
                $("#<{$key}>").addClass('input-<{$value.size}>');
            </neq>

            <switch name="value.type">

                <default />
                    $("#<{$key}>").val('<{$value.value}>');
            </switch>

        </foreach>

        });
</script>

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-search"></i><{$Think.lang.$v[title]}></div>
            </div>
            <div class="portlet-body">

                <form action="" method="<{$v.method}>" id="<{$v.form}>" role="form">

                    <input type="hidden" name="s" value="<{$s}>">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="input-group input">

                                <foreach name="v.form_list" item="value" key="key">

                                    <switch name="value.type">

                                        <case value="text">
                                            <input type="text" class="form-control" id="<{$key}>" name="<{$key}>"
                                                   placeholder="<{$Think.lang.$value[placeholder]}>"/>
                                        </case>

                                        <case value="select">
                                            <select class="form-control" id="<{$key}>" name="<{$key}>">
                                                <foreach name="value.list" item="val" key="k">
                                                    <option value=<{$k}>><{$Think.lang.$val}></option>
                                                </foreach>
                                            </select>
                                        </case>

                                        <case value="date">

                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $("#<{$key}>").focus(function () {
                                                        WdatePicker({
                                                            dateFmt: '<{$value.fmt}>',
                                                            minDate: '<{$value.min}>',
                                                            maxDate: '<{$value.max}>'
                                                        });
                                                    });
                                                    $("#<{$key}>_button").click(function () {
                                                        WdatePicker({
                                                            el: '<{$key}>',
                                                            dateFmt: '<{$value.fmt}>',
                                                            minDate: '<{$value.min}>',
                                                            maxDate: '<{$value.max}>'
                                                        });
                                                    });
                                                });
                                            </script>
                                            <input style="" id="<{$key}>" name="<{$key}>" class="form-control" type="text"/>
                                            <button id="<{$key}>_button" class="btn default" type="button"><i class="fa fa-calendar"></i></button>

                                        </case>

                                    </switch>

                                    <{$value.link}>

                                </foreach>

                                <button class="btn red" type="submit">
                                    <i class="fa fa-search"></i>
                                    &nbsp;
                                    <{$Think.lang.search}>
                                </button>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="portlet box blue">

            <div class="portlet-title">
                <div class="caption"><i class="fa fa-table"></i><{$Think.lang.$v[title]}></div>
                <div class="tools"></div>
            </div>

            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover table-full-width">

                    <thead>
                    <tr>
                        <foreach name="v.table" item="value" key="key">
                            <th><{$Think.lang.$key}></th>
                        </foreach>
                        <notempty name="v.operation">
                            <th><{$Think.lang.operation}></th>
                        </notempty>
                    </tr>
                    </thead>

                    <tbody>
                    <empty name="v.list">

                        <tr>
                            <td align="center" colspan="100%"><{$Think.lang.no_data}></td>
                        </tr>

                    <else/>

                        <foreach name="v.list" item="value" key="key">
                            <tr>
                                <foreach name="v.table" item="val" key="k">
                                    <td><{$value[$val[field]]}></td>
                                </foreach>
                                <!--<td>
                                    <{$value.eid}>
                                    &nbsp;
                                    <if condition="value.eid eq '0'">
                                        <a href="__URL__/express&oid=<{$value[$v[idKey]]}>&ret=<{$vSelfUrl}>">[<{$Think.lang.express_add}>]</a>
                                    <else/>
                                        <a href="__MODULE__/Express&eid=<{$value.eid}>">[<{$Think.lang.express_index}>]</a>
                                    </if>
                                </td>-->
                                <td>
                                    <a href="javascript:;" id="click_detail_<{$value[$v[idKey]]}>"><{$Think.lang.detail}></a>
                                    |
                                    <a href="__URL__/edit&oid=<{$value[$v[idKey]]}>&ret=<{$vSelfUrl}>"><{$Think.lang.edit}></a>
                                </td>
                            </tr>

                            <notempty name="v.detail">
                                
                                <tr id="detail_<{$value[$v[idKey]]}>" style="display:none;">
                                    <td class="details" colspan="100%">
                                        <table class="table table-bordered table-hover table-full-width">
                                            <tbody>
                                            <foreach name="v.detail" item="val" key="k">
                                                <tr>
                                                    <td class="col-md-2"><{$Think.lang.$k}></td>
                                                    <td><{$value[$val[field]]}></td>
                                                </tr>
                                            </foreach>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <input type="hidden" id="switch_detail_<{$value[$v[idKey]]}>" value="0"/>
                                <input type="hidden" id="switch_create_<{$value[$v[idKey]]}>" value="0"/>
                                <script type="text/javascript">
                                    $(document).ready(function () {

                                        //详情
                                        $("#click_detail_<{$value[$v[idKey]]}>").click(function () {
                                            if ($("#switch_detail_<{$value[$v[idKey]]}>").val() == '0') {
                                                $("#click_detail_<{$value[$v[idKey]]}>").html('<{$Think.lang.close}>');
                                                $("#switch_detail_<{$value[$v[idKey]]}>").val('1');
                                                $("#detail_<{$value[$v[idKey]]}>").show('fast');
                                            } else {
                                                $("#click_detail_<{$value[$v[idKey]]}>").html('<{$Think.lang.detail}>');
                                                $("#switch_detail_<{$value[$v[idKey]]}>").val('0');
                                                $("#detail_<{$value[$v[idKey]]}>").hide('fast');
                                            }
                                        });
                                    });
                                </script>
                                
                            </notempty>
                            
                        </foreach>

                    </empty>

                    </tbody>

                </table>

                <{$vPageBar}>

            </div>
        </div>

    </div>

</div>

<include file="Public/footer"/>