<!--公共页面头部-->
<include file="Public/header"/>

<!--公共页面左侧-->
<include file="Public/sidebar"/>

<!--日历选择控件-->
<script type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

<!--全局JS-->
<script type="text/javascript">
    $(document).ready(function () {

        <foreach name="v.form_list" item="iFormList" key="kFormList">

            <notempty name="iFormList.w">
                $("#<{$kFormList}>").addClass('input-<{$iFormList.w}>');
            </notempty>

            <notempty name="iFormList.h">
                $("#<{$kFormList}>").addClass('input-<{$iFormList.h}>');
            </notempty>

            <switch name="iFormList.type">

                <default />
                    $("#<{$kFormList}>").val('<{$v.get.$kFormList}>');
            </switch>

        </foreach>

    });
</script>

<!--主页面-->
<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <!--过滤器-->
        <notempty name="v.form_list">

            <div class="portlet box yellow">

                <!--标题-->
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-search"></i><{$Think.lang.$v[title]}></div>
                </div>

                <!--筛选-->
                <div class="portlet-body">

                    <!--表单-->
                    <form action="" method="<{$v.method}>" id="<{$v.form}>" role="form">

                        <!--隐藏当前页面s-->
                        <input type="hidden" name="s" value="<{$v.s}>">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="input-group input">

                                    <foreach name="v.form_list" item="iFormList" key="kFormList">

                                        <switch name="iFormList.type">

                                            <case value="text">
                                                <input type="text" class="form-control" id="<{$kFormList}>" name="<{$kFormList}>" placeholder="<{$Think.lang.$iFormList[placeholder]}>"/>
                                            </case>

                                            <case value="select">
                                                <select class="form-control" id="<{$kFormList}>" name="<{$kFormList}>">
                                                    <foreach name="iFormList.list" item="iFormListList" key="kFormListList">
                                                        <option value=<{$kFormListList}>><{$Think.lang.$iFormListList}></option>
                                                    </foreach>
                                                </select>
                                            </case>

                                            <case value="date">

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#<{$kFormList}>").focus(function () {
                                                            WdatePicker({
                                                                dateFmt: '<{$iFormList.fmt}>',
                                                                minDate: '<{$iFormList.min}>',
                                                                maxDate: '<{$iFormList.max}>'
                                                            });
                                                        });
                                                        $("#<{$kFormList}>_button").click(function () {
                                                            WdatePicker({
                                                                el: '<{$kFormList}>',
                                                                dateFmt: '<{$iFormList.fmt}>',
                                                                minDate: '<{$iFormList.min}>',
                                                                maxDate: '<{$iFormList.max}>'
                                                            });
                                                        });
                                                    });
                                                </script>
                                                <input style="" id="<{$kFormList}>" name="<{$kFormList}>" class="form-control" type="text"/>
                                                <button id="<{$kFormList}>_button" class="btn default" type="button"><i class="fa fa-calendar"></i></button>

                                            </case>

                                        </switch>

                                        <{$iFormList.link}>

                                    </foreach>

                                    <button class="btn red" type="submit">
                                        <i class="fa fa-search"></i>
                                        &nbsp;
                                        <{$Think.lang.search}>
                                    </button>

                                </div>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </notempty>

        <!--列表-->
        <div class="portlet box blue">

            <!--标题-->
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-table"></i><{$Think.lang.$v[title]}></div>

                <!--标题右侧链接-->
                <notempty name="v.tools">
                    <div class="tools">
                        <a class="btn btn-xs blue" style="margin-top: -8px;" href="__CONTROLLER__/<{$v.tools.action}>&ret=<{$v.self}>">
                            <i class="fa fa-plus"></i>
                            <{$v.tools.title}>
                        </a>
                    </div>
                </notempty>
            </div>

            <div class="portlet-body">

                <!-- 表格 -->
                <table class="table table-striped table-bordered table-hover table-full-width">

                    <thead>
                    <tr>

                        <foreach name="v.table" item="iTable" key="kTitle">
                            <th><{$Think.lang.$kTitle}></th>
                        </foreach>

                        <notempty name="v.operation">
                            <th><{$Think.lang.operation}></th>
                        </notempty>

                    </tr>
                    </thead>

                    <tbody>
                    <!-- 表格数据 -->
                    <empty name="v.list">

                        <!-- 空数据 -->
                        <tr>
                            <td align="center" colspan="100%"><{$Think.lang.no_data}></td>
                        </tr>

                    <else/>

                        <!-- 数据遍历 -->
                        <foreach name="v.list" item="iList" key="kList">

                            <tr>

                                <foreach name="v.table" item="iTable" key="kTable">

                                    <!-- 数据类型 -->
                                    <switch name="iTable.type">

                                        <case value="select">

                                            <td>
                                                <select class="form-control" id="<{$iTable.field}>_<{$iList.$v[idKey]}>">
                                                    <foreach name="iTable.list" item="vTitle" key="kValue">
                                                        <option value=<{$kValue}>><{$Think.lang.$vTitle}></option>
                                                    </foreach>
                                                </select>
                                            </td>
                                            <script type="text/javascript">
                                                $(document).ready(function () {

                                                    <notempty name="iTable.w">
                                                        $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").addClass('input-<{$iTable.w}>');
                                                    </notempty>

                                                    <notempty name="iTable.h">
                                                        $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").addClass('input-<{$iTable.h}>');
                                                    </notempty>

                                                    $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").val('<{$iList.$iTable[field]}>');
                                                    var begin_<{$iTable.field}>_<{$iList.$v[idKey]}> = $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").val();

                                                    $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").change(function(){

                                                        var current_<{$iTable.field}>_<{$iList.$v[idKey]}> = $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").val();

                                                        $.get("__CONTROLLER__/<{$iTable.action}>", {'<{$v[idKey]}>':'<{$iList.$v[idKey]}>', 'value':current_<{$iTable.field}>_<{$iList.$v[idKey]}>}, function(data){

                                                            if (data.status == '1') {
                                                                begin_<{$iTable.field}>_<{$iList.$v[idKey]}> = current_<{$iTable.field}>_<{$iList.$v[idKey]}>
                                                            }else{
                                                                $("#<{$iTable.field}>_<{$iList.$v[idKey]}>").val(begin_<{$iTable.field}>_<{$iList.$v[idKey]}>);
                                                            }
                                                            alert(data.msg);

                                                        });

                                                    });

                                                });
                                            </script>

                                        </case>

                                        <default />
                                            <td><{$iList.$iTable[field]}></td>

                                    </switch>

                                </foreach>

                                <!-- 数据操作 -->
                                <td>
                                    <foreach name="v.operation" item="iOperation" key="kOperation">
                                        <switch name="iOperation.type">

                                            <case value="detail">

                                                <a class="btn btn-xs blue" href="javascript:;" id="click_detail_<{$iList.$v[idKey]}>">
                                                    <i class="fa fa-chevron-down"></i>

                                            </case>

                                            <case value="a_m">

                                                <a class="btn btn-xs dark" href="__MODULE__/<{$iOperation.module_name}>&<{$v.idKey}>=<{$iList.$v[idKey]}>">
                                                    <i class="fa fa-link"></i>

                                            </case>

                                            <default />

                                                <a class="btn btn-xs <{$iOperation.color}>" href="__CONTROLLER__/<{$kOperation}>&<{$v.idKey}>=<{$iList.$v[idKey]}>&ret=<{$v.self}>">
                                                    <i class="fa fa-<{$iOperation.fa}>"></i>

                                        </switch>

                                            <present name="iOperation.name">

                                            <{$Think.lang.$iOperation[name]}>

                                            <else />

                                            <{$Think.lang.$kOperation}>

                                            </present>

                                        </a>

                                        <{$iOperation.link}>

                                    </foreach>
                                </td>
                            </tr>

                            <!-- 数据详情 -->
                            <notempty name="v.detail">

                                <!--表格详情页-->
                                <tr id="detail_<{$iList.$v[idKey]}>" style="display:none;">
                                    <td class="details" colspan="100%">
                                        <table class="table table-bordered table-hover table-full-width">
                                            <tbody>

                                            <foreach name="v.detail" item="iDetail" key="kDetail">
                                                <tr>
                                                    <td class="col-md-2"><{$Think.lang.$kDetail}></td>
                                                    <td><{$iList.$iDetail[field]}></td>
                                                </tr>
                                            </foreach>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <input type="hidden" id="switch_detail_<{$iList.$v[idKey]}>" value="0"/>
                                <input type="hidden" id="switch_create_<{$iList.$v[idKey]}>" value="0"/>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#click_detail_<{$iList.$v[idKey]}>").click(function () {
                                            if ($("#switch_detail_<{$iList.$v[idKey]}>").val() == '0') {
                                                $("#click_detail_<{$iList.$v[idKey]}>").html('<i class="fa fa-chevron-up"></i> <{$Think.lang.close}>');
                                                $("#switch_detail_<{$iList.$v[idKey]}>").val('1');
                                                $("#detail_<{$iList.$v[idKey]}>").show('fast');
                                            } else {
                                                $("#click_detail_<{$iList.$v[idKey]}>").html('<i class="fa fa-chevron-down"></i> <{$Think.lang.detail}>');
                                                $("#switch_detail_<{$iList.$v[idKey]}>").val('0');
                                                $("#detail_<{$iList.$v[idKey]}>").hide('fast');
                                            }
                                        });
                                    });
                                </script>
                                
                            </notempty>
                            
                        </foreach>

                    </empty>

                    </tbody>

                </table>

                <eq name="v.isPage" value="1">
                    <{$v.pageBar}>
                </eq>

            </div>
        </div>

    </div>

</div>

<!--页面底部-->
<include file="Public/footer"/>