<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">

        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>

        <li>

        </li>

        <li class="start <eq name='v.icon' value='home'>active</eq>">
            <a href="__MODULE__">
                <i class="fa fa-home"></i>
                <span class="title">主页</span>
                <span class="selected"></span>
            </a>
        </li>

        <foreach name="v.function" item="value" key="key">

        <eq name='v.icon' value='$value.icon'>

        <li class="selected"></li>

        <li class="active open">

        <else />

        <li>

        </eq>

            <a href="javascript:;">

                <i class="fa fa-<{$value.icon}>"></i>
                <span class="title"><{$Think.lang.$key}></span>
                <span class="selected"></span>

                <eq name='v.icon' value='$value.icon'>

                    <span class="arrow open"></span>

                <else />

                    <span class="arrow"></span>

                </eq>

            </a>

            <ul class="sub-menu">

                <foreach name="value.list" item="val" key="k">

                <neq name='val.display' value='false'>

                <eq name='v.controller' value='$k'>

                <li class="active">

                <else />

                <li>

                </eq>

                    <a href="__MODULE__/<{$k}>"><{$Think.lang.$val[name]}></a>

                </li>

                </neq>

                </foreach>

            </ul>

        </li>

        </foreach>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR-->